.classpath
/*/.gitignore
.project
org.eclipse.*
.factorypath
.jsdtscope
*.log
/*/output.pdf
target
*.prefs
*.trc
*.dmp
*.phd
*.iml
.idea
*.versionsBackup
*/repo
*.trace.db
/kodeverk-service/repo
/GitIgnore-stage/
