.classpath
repo/
old-repo/
/*/.gitignore
.project
org.eclipse.*
.factorypath
.jsdtscope
*.log
/*/output.pdf
target
*.prefs
*.trc
*.dmp
*.phd
*.iml
.idea
*.versionsBackup
*/repo
/GitIgnore-stage/
conf/
repo-old/
run.sh
springsec-oidc-????????-????.tgz
springsec-oidc-latest-dockercontext.tgz
springsec-oidc-latest.dockerimage

